<div id="aboutus_main">

    <!--<div id="upper_hero">-->


    <!--</div>-->

    <div id="main_bg">

        <div id="bg">

            <img ng-src="{{aboutusCtr.upper_bg}}">


            <div id="intro">

                Scope'creates dynamic albums, aggregated with social images by location/time/topic, allowing users to search
                and broadcase across platforms, Available on the Apple App Store and Google Play

            </div>

        </div>

    </div>


    <div id="middle">
        <div id="left">
            <img ng-src="{{aboutusCtr.vang}}">
        </div>
        <div id="right">
            <div id="title">About Us</div>
            <div id="content">
                Pantoscope Media Inc. was founded in 2013 and focuses on image recognition technology. Pantoscope Media
                Inc. is partially founded by IRAP, NSERC Canada, and Mitacs.
            </div>
        </div>
        <div id="bottom">

            <div id="upper_img">

                <img ng-src="{{aboutusCtr.join}}">

            </div>
            <div id="title">Work With Us</div>
            <div id="content">Want to be part of something exciting? We are currently looking for some awesome people to be a part of our team.</div>

        </div>
    </div>

    <div id="job_listing">

        <div class="one_listing">
            <div class="left">
                <div class="job_title">Research Scienist - Computer Vision</div>
                <div class="job_loc"><img ng-src="{{aboutusCtr.loc}}"><span>Vancouver,Canada</span></div>
            </div>
            <div class="right">
                <button class="ui red button" ng-click="dropDown($event)">View Job</button>
            </div>
            <div class="bottom_drop">

                <h3>About Us</h3>

                <p>Pantoscope Media Inc. is a fast growing start-up focus-on event searching and sharing.

                    <br><br>We are currently looking for Research Scientists with skills and experience in computer vision to join our expanding team. You will have a chance to change the lives of millions of people, allowing them to do things they never dreamed they could do, by using your technical background to drive Pantoscope’s innovation.

                </p>


                <h3>Responsibility</h3>

                <li>Research in image and video understanding using our multimedia data
                </li>

                <li>Design and carry out fundamental investigations that expand knowledge

                    and may result in new products, new processes or new business areas</li>

                <li>Develop a deep understanding of data to understand usage patterns and

                    apply the knowledge gained in developing algorithms that satisfy user

                    needs</li>

                <li> Work closely with engineers to develop prototypes and transfer research

                    to products
                </li>

                <li>Communicate research results to product and engineering teams</li>



                <h3>Salary</h3>

                <li>$75,000.00 - $100,000.00/Annually</li>


                <h3>Requirements</h3>

                <li> 5+ years of industrial or academic experience in Computer Vision,

                    Multimedia, and Machine Learning methodology</li>

                <li> Ph.D. in Computer Vision, Multimedia, Machine Learning, AI or a related

                    field</li>

                <li> Demonstrated expertise and desire to work hands-on in analyzing and

                    modeling large-scale data sets</li>

                <li> Expertise in popular machine learning algorithms</li>

                <li> Strong algorithmic problem solving skills</li>

                <li> Software development skills (C/C++, Python, Java, etc.)</li>

                <li> Experience with popular Computer Vision toolbox (OpenCV, VLFeat, etc.)</li>

                <li> Mobile development skills (iOS &amp; Android)</li>

                <li> Experience with Deep Learning and its toolbox (Caffe, TensorFlow, etc.)</li>

                <li> Excellent communication skills and ability to understand business

                    requirements</li>
                <li> Team spirit as well as the ability to execute independently</li>
                <li> Local experience preferred</li>


                <h3>Method of Application</h3>

                <p> Job location is Downtown Vancouver, BC. To qualify,

                    applicant must be legally authorized to work in Canada.

                    We thank all candidates who apply, however, only those being considered will be

                    contacted.<br><br>

                    Please send your cover letter and resume to the email below, if you are interested.<br><br>



                    <a href="mailto:jobs@scopephotos.com" target="_top">jobs@scopephotos.com</a>

                </p>



            </div>

        </div>
        <div class="one_listing">
            <div class="left">
                <div class="job_title">IOS Developer</div>
                <div class="job_loc"><img ng-src="{{aboutusCtr.loc}}"><span>Vancouver,Canada</span></div>
            </div>
            <div class="right">
                <button class="ui red button" ng-click="dropDown($event)">View Job</button>
            </div>
            <div class="bottom_drop">

                <h3>About Us</h3>

                <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


                    Vancouver. We are currently building a mobile image-searching engine.

                    <a href="www.scopephotos.com">www.scopephotos.com</a>
                </p>


                <h3>About the Job</h3>

                <p> We are currently looking for an iOS developer to join our growing team. We have the

                    technology, and we’d like to build a team of world-class engineers to help us and grow

                    with the company.</p>


                <li>You will be implementing new features to iOS app</li>

                <li>You will be working closely together with our designers and engineers to design

                    and build a compelling product and implementing exciting new features.
                </li>


                <h3>Requirements:</h3>
                <li>B.S or M.S. Computer Science or 2+ years in relevant work experience</li>

                <li>Released product to App Store</li>

                <li> A scrappy, entrepreneurial attitude that gets high-quality projects done

                    quickly
                </li>

                <li>The ability to collaborate with the design and back-end engineering team

                    to ensure a great experience for our users
                </li>

                <li>Be able to write elegant, readable, and well-documented code</li>


                <h3>Method of Application</h3>

                <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify,

                    applicant must be legally authorized to work in Canada.

                    We thank all candidates who apply, however, only those being considered will be

                    contacted.

                    Please send your cover letter and resume to <a href="mailto:jobs@scopemedia.com" target="_top">jobs@scopemedia.com</a>, if
                    you are

                    interested.</p>


            </div>
        </div>
        <div class="one_listing">
            <div class="left">
                <div class="job_title">Android Developer</div>
                <div class="job_loc"><img ng-src="{{aboutusCtr.loc}}"><span>Vancouver,Canada</span></div>
            </div>
            <div class="right">
                <button class="ui red button" ng-click="dropDown($event)">View Job
                </button>
            </div>

            <div class="bottom_drop">

                <h3>About Us</h3>

                <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


                    Vancouver. We are currently building a mobile image-searching engine.

                    <a href="www.scopephotos.com">www.scopephotos.com</a>
                </p>


                <h3>About the Job</h3>

                <p> We are currently looking for a mobile developer with the necessary skills and

                    experience in building apps for Android devices. We have the technology, and

                    we’d like to build a team of world-class engineers to help us and to grow with the

                    company.</p>

                <li>Implementation of new features to the Android app</li>

                <li>Work closely with our designers and engineers to design and build a

                    compelling product, while simultaneously implementing new features.
                </li>

                <h3>Requirements</h3>

                <li>B.S or M.S. Computer Science or 1+ years in relevant work experience</li>

                <li> A scrappy, entrepreneurial attitude that gets high-quality projects done

                    quickly
                </li>

                <li>The ability to collaborate with the design and back-end engineering team

                    to ensure a great experience for our users
                </li>

                <li>Be able to write elegant, readable, and well-documented code</li>


                <h3>Method of Application</h3>

                <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify,

                    applicant must be legally authorized to work in Canada.

                    We thank all candidates who apply, however, only those being considered will be

                    contacted.

                    Please send your cover letter and resume to <a href="mailto:jobs@scopephotos.com" target="_top">jobs@scopephotos.com</a>, if
                    you are

                    interested.</p>


            </div>
        </div>


        <div class="one_listing">
            <div class="left">
                <div class="job_title">Jr. Java Backend Developer</div>
                <div class="job_loc"><img ng-src="{{aboutusCtr.loc}}"><span>Vancouver,Canada</span></div>
            </div>
            <div class="right">
                <button class="ui red button" ng-click="dropDown($event)">View Job</button>
            </div>


            <div class="bottom_drop">


                <h3>About Us</h3>
                <p>
                    Pantoscope Media Inc. is a fast growing start-up located in Downtown

                    Vancouver. We are currently building a mobile image-searching engine.

                    <a href="www.scopephotos.com">www.scopephotos.com</a>

                </p>
                <h3>About the Job</h3>
                <p>
                    We are currently looking for a junior Java backend developer with both build and

                    release engineering experience.
                </p>
                <h3>Job Description</h3>
                <p>

                    By joining our team as a Java Developer, you will participate in the entire

                    development process. Not only will you implement new features, but you will also

                    be responsible for managing and deploying all builds and releases of the

                    software components.

                <li>Work with team members to prototype, design, implement, and document

                    product features
                </li>
                <li>Build and manage the continuous integration system</li>
                <li>Manage deployment of software to AWS and other clouds</li>
                <li>Software unittest and validation</li>

                </p>

                <h3>
                    Requirements
                </h3>

                <p>
                <li>Experienced at Java, familiar with Eclipse</li>
                <li>Familiar with service oriented design and analysis, REST, JSON</li>
                <li>Familiar with object-oriented analysis, design, and programming skills</li>
                <li>Experience with cloud computing technology, AWS</li>
                <li>Experience with Jenkins</li>
                <li>Familiar with relational database design, SQL, and database operations</li>
                <li>Experience with Agile software development methodologies</li>
                <li>Experience with source code management, such as git</li>
                <li>A self-starter who wants to grow within our company</li>

                </p>
                <h3>Method of Application</h3>

                <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify,

                    applicant must be legally authorized to work in Canada.

                    We thank all candidates who apply, however, only those being considered will be

                    contacted.

                    Please send your cover letter and resume to <a href="mailto:jobs@scopephotos.com" target="_top">jobs@scopephotos.com</a>, if
                    you are

                    interested.</p>


            </div>


        </div>

        <div class="one_listing">
            <div class="left">
                <div class="job_title">Social Media Specialist</div>
                <div class="job_loc"><img ng-src="{{aboutusCtr.loc}}"><span>Vancouver,Canada</span></div>
            </div>
            <div class="right">
                <button class="ui red button"  ng-click="dropDown($event)">View Job</button>
            </div>


            <div class="bottom_drop">

                <h3>About Us</h3>

                <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


                    Vancouver. We are currently building a mobile image-searching engine.

                    <a href="www.scopephotos.com">www.scopephotos.com</a>
                </p>


                <h3>About the Job</h3>

                <p> We are currently looking for an experienced Social Media Specialist to join our

                    marketing team. Everyday job activities include helping to design, implement,

                    and monitor marketing campaigns.</p>

                <h3>Responsibilities</h3>

                <li>Design and implement new social media campaigns</li>

                <li>Work closely with our marketing team to create a seamless marketing

                    campaign consistent across all major platforms
                </li>

                <h3>Requirements</h3>

                <li>2+ years experience in marketing, with a focus on social media</li>

                <li>Previously have designed and implemented nation wide social media

                    campaigns
                </li>

                <li>Experience in using Facebook, Instagram, Twitter, Wordpress, Tumblr,

                    and more in a marketing capacity
                </li>

                <li>Experience in using marketing tools, such as Hootsuite, Flurry, Crowdfire,

                    Fabric, and more
                </li>

                <li>A scrappy, entrepreneurial attitude that gets high-quality projects done

                    quickly
                </li>

                <li>The ability to work both independently and in a team environment</li>


                <h3>Method of Application</h3>

                <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify,

                    applicant must be legally authorized to work in Canada.

                    We thank all candidates who apply, however, only those being considered will be

                    contacted.

                    Please send your cover letter and resume to <a href="mailto:jobs@scopephotos.com" target="_top">jobs@scopephotos.com</a>, if
                    you are

                    interested.</p>


            </div>

        </div>

        <div id="bottom">Don't see a job for you? Send us your resume and let's try and make something work!
            <br><a href="mailto:contact@scopephotos.com" target="_top">CONTACT WITH US <i
                    class="ui icon angle right"></i></a>

        </div>
    </div>


</div>