<div id="banner_main" ng-show="bannrtCtr.phoneUser">

    <div id="banner_info">


        <div id="banner_info_left" ng-style="{'background-image':'url(' + bannrtCtr.scopeLogo +')'}"></div><div id="banner_info_right">Get Scope on your phone</div>

    <!--<a ng-href="{{phoneCtr.phoneType == 'iPhone' && 'https://itunes.apple.com/app/id911111086'  || 'https://play.google.com/store/apps/details?id=com.scopemedia.android' }}">-->
    <!--</a>-->

        </div>

        <div id="banner_options">
            <button ng-click="hideBanner()">NO THANKS</button><button ng-click="downloadApp()" id="downloadButton">DOWNLOAD APP</button>
        </div>

</div>