<div id="compact_main">
    <popup></popup>
    <div id="image_search_list" ng-class="{'container': viewMode=='Compact','container-fluid': viewMode=='Presentation'}">
        <ul id="photoManagement_imageList" masonry="{ transitionDuration: '0s' }" reload-on-resize preserve-order>
            <li class="photoManagement_oneImage masonry-brick"  ng-click="showDetailImage(image)"  ng-repeat="image in imageArr | orderBy:'-shotTime' ">
                <!-- <div ng-attr-class="{{ image.selected && 'selected_border show' || 'selected_border'}}"></div> -->
                <div class="photoContainer" ng-click="showDetailImage(image,image.id)" ng-mouseover="showRibbon($event)" ng-mouseleave="hideRibbon($event)"><img ng-src="{{image.mediaType == 'IMAGE' && image.retina.url || image.thumbnail.fileName}}">
                </div>
            </li>
        </ul>
        <loadinganimation ng-show="updating"></loadinganimation>
    </div>

</div>