<div id="faqmain_div" class="container" style="margin-top: 5px;">
    {{title}}
    <div id="faq_title">
        FAQ
    </div>
    <div id="faq_sub_title">
        FAQ: “WHAT IS SCOPE?” AND MANY MORE GREAT QUESTIONS. READ ON!
    </div>

    <div id="faq_content">
        <div class="faq_field">
            <div class="field_title"><h4>What is Scope</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    Scope creates dynamic albums, aggregated with social images by
                    location/time/topinc, allowing users to search and broadcast across platforms.
                </div>
            </div>
        </div>
        <div class="faq_field">
            <div class="field_title"><h4>What is the difference between a Public scope and a Private scope?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    Public scopes: Everyone and anyone can see this album! Anyone present at the
                    event/location can shoot photos directly into the event or upload photos from their
                    camera roll. When you set up this scope, you must set a location so others can
                    upload into the scope.<br><br>
                    Public scopes + Members: This is exactly the same as a regular Public scope, except
                    you can invite friends to upload their photos into it as well! Everyone can see this
                    album, but only invited members can shoot directly into the event or upload photos
                    from their camera roll.<br><br>
                    Private scope: Private scopes are for your eyes only! Simply shoot photos into this
                    scope or upload them from the camera roll.<br><br>
                    Private scope + Members: Want to post a photo that your mom shouldn’t see? Private
                    scopes with members offer you the unique opportunity to share photos with select
                    friends!
                </div>
            </div>
        </div>
        <div class="faq_field">
            <div class="field_title"><h4>How does the map feature work on Scope?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    The map feature gives you the power to find photos posted across major social
                    media platforms from anywhere in the world. For example, have you always wanted
                    to go to Times Square in New York City? Simply go to the map page, type in the
                    name, and press get photos! You will see all photos posted to social media from that
                    specific spot.<br>
                    <img ng-src="{{faqCtr.map}}">
                </div>

            </div>
        </div>



        <div class="faq_field">
            <div class="field_title"><h4>How do I find directions to photos?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    1. Select the image you like.<br>
                    2. Click the location button on the top right hand corner of the screen.<br>
                    3. Click the photo on the map.<br>
                    4. Select Get Photos!<br>

                    <img ng-src="{{faqCtr.directions}}">

                </div>
            </div>
        </div>

        <div class="faq_field">
        <div class="field_title"><h4>Can I share a scope to other social media platforms?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
        <div class="dropdown_field notShow">
            <div class="dropdown_content">
                Yes! Open any scope and tap the share button in the top right corner of the screen. You
                can share the scope link by text, email, and other social media platforms.
                <img ng-src="{{faqCtr.platforms}}">
            </div>
        </div>
    </div>
        <div class="faq_field">
            <div class="field_title"><h4>How do I hide photos in my scopes?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    With Scope’s moderating feature, hiding photos only takes four easy steps:<br>
                    1. Open your scope<br>
                    2. Press Edit<br>
                    3. Press Moderate photos<br>
                    4. Select all the photos you want to hide

                    <img ng-src="{{faqCtr.hidephotos}}">
                </div>
            </div>
        </div>
        <div class="faq_field">
            <div class="field_title"><h4>How to become a Scope partner?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    Check out our Partnership page <a href="#/btob">here</a>.
                </div>
            </div>
        </div>
        <div class="faq_field">
            <div class="field_title"><h4>What makes Scope unique compared to other social media platforms?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    Scope is a one of a kind social media hub where you can stream photos aggregated
                    from various platforms. Scope’s unique search features help you find, view, and
                    share photos from all your favourite events, landmarks, and people.<br><br>
                    Experiencing and sharing live events from around the world has never been easier!
                    By pulling images from across social media platforms, you can now fully understand,
                    grasp, and experience everything there is to know about your favourite celebrities,
                    events, cities, and bloggers
                </div>
            </div>
        </div>


        <div class="faq_field">
            <div class="field_title"><h4>How do I recommend Scope to my friends?</h4><div class="dropdown_i" ng-click="dropDown($event)"><img ng-src="{{faqCtr.arrow_d}}"></div></div>
            <div class="dropdown_field notShow">
                <div class="dropdown_content">
                    Great question!<br>
                    1. Simply go to your profile<br>
                    2. Click the settings icon in the top right hand corner of the screen<br>
                    3. Select “Recommend Scope to Friends”<br>
                    4. Choose between text message, email, social media, and more!

                    <img ng-src="{{faqCtr.recommend}}">

                </div>
            </div>
        </div>
    </div>


        <!--<div id="faq_content" ng-show="false">-->


        <!--<div class="faq_field">-->
            <!--<div class="field_title">What is Scope<div class="dropdown_i"><img></div></div>-->
            <!--<div class="dropdown_field">-->
                <!--<p>-->
                    <!--Scope creates dynamic albums, aggregated with social images by-->
                    <!--location/time/topic, allowing users to search and broadcast across platforms.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->


        <!--<h4>What is Scope?</h4>-->
        <!--<p>-->
            <!--Scope creates dynamic albums, aggregated with social images by-->
            <!--location/time/topic, allowing users to search and broadcast across platforms.-->
        <!--</p>-->
        <!--<h4>What is a scope?</h4>-->
        <!--<p>-->
            <!--A scope is an event photo album that has a specific location and time.-->
        <!--</p>-->
        <!--<h4>What are different types of scopes for?</h4>-->
        <!--<p>-->
            <!--Public scopes + Everyone: everyone can see this album, and everyone present at the event can shoot directly into the event or upload photos from their camera roll. When you set up this scope, you must set a location so others can shoot into the scope. Click for screenshot.-->
        <!--</p>-->
        <!--<p>-->
            <!--Public scopes + Members: This is the one way to create a public scope without setting a location or date. Everyone can see this album, but only invited members can shoot directly into the event or upload photos from their camera roll. Click for screenshot.-->
        <!--</p>-->
        <!--<p>-->
            <!--Private scopes: these scopes are just for you, only you can see them. You cannot set a time or location so you can always shoot photos into this scope or upload from camera roll.-->
        <!--</p>-->
        <!--<h4>How can I create a Scope?</h4>-->

        <!--We are constantly posting tips and tutorials to explain how the app works on our Twitter account @ScopeHelp.-->

        <!--Make sure to follow us and keep yourself updated with the latest features.-->

        <!--How to get my avatar on Scope home page?-->
        <!--Become an active user! Engage with others, like their photos, and rescope their photos!-->

        <!--<h4>Can I promote my events?</h4>-->

        <!--Of course you can! By creating and streaming a “Public Scope” you can promote any event, business or anything you would like to share with the world. So, get ready to grow with us!-->

        <!--<h4>Can I share a scope to other social media?</h4>-->
        <!--Easily! Open any scope and tap the share button in the top right of the screen. You can share the scope link by text, email, and other social media platforms.-->

        <!--<h4>How do I hide photos in my scopes?</h4>-->
        <!--Scope makes it easy so moderate your albums: tap Edit on your scope ➟ Curate ➟ tap the photos you want to hide (you can tap again to unhide the photos).-->

        <!--<h4>How to use a photo to find interesting people/things?</h4>-->
        <!--<p>Step 1: Tap the geotag to show the image on the Scope map.</p>-->
        <!--<p>Step 2: Zoom on the location and tap “Get Photos” to see more images.</p>-->
        <!--<p>Step 3: Tap the thumbnail to get directions to the location of the photos.</p>-->

        <!--<h4>What is an influencer?</h4>-->

        <!--An influencer is a Social Media trendsetter that actively participates on Scope by creating albums and sharing great pictures around the globe. You can be the next influencer!-->

        <!--<h4>How do I become an influencer?</h4>-->

        <!--If you consider yourself a Trendsetter and enjoy being in contact with new people from all over the world, then you should join us!-->

        <!--Here is the Influencers Form.-->

        <!--<h4>What should I do as an influencer?</h4>-->

        <!--Be always one step ahead creating appealing and innovative scopes to engage new users, spread the word about Scope to make it the best app ever.  And of course having fun in the process!-->

        <!--<h4>What do I get by becoming an influencer?</h4>-->

        <!--As an influencer you will help us build up our community and grow along with Scope. You can promote yourself; with greater visibility! And you will also become a verified user and will be given the official badge.-->

        <!--<h4>How to become a Scope partner?</h4>-->
        <!--A Scope Partner is for businesses, venues, and anyone that doesn’t want to use Scope as an individual user. Go to www.scopephotos.com/partners and follow the sign up sheet!-->

        <!--<h4>What are the differences between Scope and other social media?</h4>-->

        <!--Scope is the first and unique entrance to the world of mobile photos posted on every website and social media such as  Instagram, Flickr, Foursquare, Twitter or Facebook. Yes, everything in just one app.-->

        <!--<h4>How to recommend Scope to my contacts?</h4>-->

        <!--When you’re ready to recommend Scope (thank you!), go to your Profile ➟ tap the settings icon in the top right ➟ Recommend Scope to Friends.-->
        <!--You can also send them these short links to our app store listings: rescope.me/ScopeiPhone & rescope.me/ScopeAndroid-->
        <!--Do I need to set location service on?-->
        <!--Turning location services on for Scope will allow you to explore nearby photos and scopes. The first time you open Scope, you’ll be asked to turn location services on. You can also go to your iPhone’s Settings ➟ Privacy ➟ Location Services ➟ Scope ➟ While Using the App or Always. On Android, go to Settings ➟ Personal ➟ Location ➟ Turn toggle on.-->


    <!--</div>-->
</div>

<div footer-scope></div>