<div id="detail_image_container_main">

    <div id="detail_image_container_bg" ng-click="closeDetailView()">

        <div id="detail_image_container" ng-click="$event.stopPropagation()">


            <div id="detail_image_container_right">

                <div id="close_button" ng-click="closeDetailView()"><i class="ui icon close"></i></div>

                <div id="user_info">
                    <div id="user_avatar"><img ng-src="{{detailCtr.image.sourceOwner.profile_picture?detailCtr.image.sourceOwner.profile_picture:detailCtr.image.owner.avatar}}"></div><!--
            --><div id="user_info_left">
                    <div id="user_name" >{{detailCtr.image.sourceOwner.username?detailCtr.image.sourceOwner.username:detailCtr.image.owner.name}}</div>
                    <div id="image_location">
                        <div class="source">{{'@ ' + determineOriginalText(detailCtr.image)}}</div>
                        <div class="time_location">
                            <a ng-show="detailCtr.image.location != null" ng-href="{{'#/mapsearch?searchId=' + detailCtr.image.id }}" class="location"><i class="icon tiny marker"></i>{{detailCtr.image.location.address}}</a>
                            <div class="image_time" style="margin-left: 0.35em;"><i class=""></i>{{getShotTime(detailCtr.image.uploadTime)}}</div>
                        </div>

                    </div>
                </div>
                </div>

                <div class="ui divider"></div>
                <div id="image_info">

                    <div id="image_stats" ng-show="false">

                        <div class="stat"><i  ng-style="{'background-image':'url('+ likeI +')'}" class="icon" ></i>{{ formateCount(detailCtr.image.stats.likeCount) }}</div>
                        <div class="stat"><i  ng-style="{'background-image':'url('+ viewI +')'}" class="icon"></i>{{formateCount(detailCtr.image.stats.viewCount)}}</div>
                        <div class="stat"><i  ng-style="{'background-image':'url('+ commentI +')'}" class="icon"></i>{{formateCount(detailCtr.image.stats.commentCount)}}</div>

                    </div>
                    <div id="image_description" ng-bind="detailCtr.image.description"></div>
                    <div id="image_tags">
                        <ul>
                            <li ng-repeat="tag in detailCtr.image.tags"><a class="ui tiny basic label" ng-href="{{ '#/imagesearch?searchType=photo&searchContent=' + tag.text }}">{{'#' + tag.text}}</a></li>
                        </ul>
                    </div>

                </div>

            </div><!--


            --><div id="detail_image_container_left" >

                <div class='image' ng-show="detailCtr.image.mediaType=='IMAGE'">
                    <img ng-src="{{detailCtr.image.retina.url}}">
                </div>
                <video ng-show="detailCtr.image.mediaType=='VIDEO'" src="{{detailCtr.image.video.fileName | trustUrl}}" width="100%" height="100%" controls></video>

            </div>
        </div>


    </div>

</div>