<!--<div id="footer_main">-->
<!--<div class="ui stackable inverted menu">-->
    <!--<div class="header item">-->
        <!--Copyright © 2015 Pantoscope Media Inc-->
    <!--</div>-->

    <!--<a href="#/faq" class="item">FAQ</a>-->
    <!--<a href="#/blog" class="item">Blog</a>-->
    <!--<a href="#/influencer" class="item">Become an Influencer</a>-->
    <!--<a href="#/service" class="item">Terms of Service</a>-->
    <!--<a href="#/policy" class="item">Privacy Policy</a>-->
<!--</div>-->

<!--</div>-->


<div id="footer_main">
    <div id="fotter_left">
    <div id="footer_item">
        <a href="#/aboutus"><div class="oneItem">ABOUT US</div></a>
        <a href="#/blog"><div class="oneItem">PRESS</div></a>
        <a href="#/faq"><div class="oneItem">FAQ</div></a>
        <a href="#/policy"><div class="oneItem">PRIVACY POLICY</div></a>
        <a href="#/service"><div class="oneItem">TERMS OF SERVICE</div></a>
    </div>
        <div id="social_icons">
            <a href="https://twitter.com/scopephotos"><div ng-style="{'background':'url(' + socialIcons +')','bacground-position':'0px'}" class="oneIcon"></div></a>
            <a href="https://www.facebook.com/ScopePhotos"><div style="background-position-x: -40px" ng-style="{'background':'url(' + socialIcons +')','background-position':'-40px'}" class="oneIcon"></div></a>
            <a href="https://www.instagram.com/scopephotos/"><div ng-style="{'background':'url(' + socialIcons +')','background-position':'-80px'}" class="oneIcon"></div></a>
            <a href="https://www.tumblr.com/blog/scopephotos"><div ng-style="{'background':'url(' + socialIcons +')','background-position':'-120px'}" class="oneIcon"></div></a>
            <a href="https://www.pinterest.com/scopephotos/"><div ng-style="{'background':'url(' + socialIcons +')','background-position':'-160px'}" class="oneIcon"></div></a>
        </div>
        <div id="contact_info">
            Contact Us @ <a href="mailto:contact@scopephotos.com" target="_top">contact@scopephotos.com</a>
        </div>
        <div id="copy_right">Copyright@2016 Pantoscope Media Inc.</div>
    </div><!--

    --><div id="fotter_right">

    <div id="download">
        <a ng-style="{'background-image':'url('+ download_icon +')'}" href="https://itunes.apple.com/app/id911111086" target="_blank"></a>
        <a id="google_download" ng-style="{'background-image':'url('+ download_icon +')','background-position-x':'-160px'}" href="https://play.google.com/store/apps/details?id=com.scopemedia.android" target="_blank"></a>
    </div>

        </div>
</div>